.chat-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-select-dropdown {
  padding: 8px;
  font-weight: bold;
  background-color: #010B12;
  color: #9CFF00;
  border: 2px solid #2BC20E;
  border-radius: 8px;
}
